@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
li a { 
  color: whitesmoke;
}
h2{
  text-align: center;
}

body{
  background-image: linear-gradient(#83B692, #D4DCFF);
  text-align:center;
}
.main_header{
  border-bottom: 1px solid black;
  background-color: #899d78;
}
/* Style the navigation menu */
.nav_li {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 1.5rem;
}

.nav_item a {
  color: whitesmoke;
}
.nav_li a{
/* display: none; */
list-style-type: none;
text-decoration: none;

}
.hamburger {
display: none;
}

.bar {
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #101010;
}
.nav_menu {
  list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav_item {
margin-left: 5rem;

}

.nav-link a{
color: white;
font-size: 1.6rem;
font-weight: 400;

text-align: center;
border-bottom: 1px solid black;
}

.nav-link:hover{
color: #BAB86C;
}

.nav_logo {
font-size: 2.1rem;
font-weight: 500;
color: #899d78;
list-style-type: none;
}

.nav_menu a{
  color: white;
}






#Mission_statement{
  background-image: url(images/seedlings.jpg);
  background-repeat:no-repeat;
  min-height: 270px;
  background-position:bottom;
  background-size: cover;
  padding: 70px;
  font-size: 30px;
  text-align: center;
  color: whitesmoke;

 

}


#quick_tips{
  
  color: black;
}
.w3-card-4{
  background-color: #899d78;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

   .quick_tips{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    align-items: center;
    margin: 0 -5px;
  }
  
  
 
 
.w3-card-4{
 align-items: center;
   padding: 5px;
  box-shadow:  4px 8px rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
  margin:auto;

  }
 

 

 
.w3-card-4:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img{
  border-radius: 5px 5px 0 0;
}

#pollinators{
  margin-top: 10px;

}
#footer{
  
  padding: 15px;
  height:auto;
  width: auto;
  /* background: #C57B57; */
}



/* carousel */
/* .carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}


.carousel-wrapper * {
  box-sizing: border-box;
}


.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}


.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}


.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}


.carousel__photo.prev {
  transform: translateX(-100%);
}


.carousel__photo.next {
  transform: translateX(100%);
}


.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border:1px solid black;
    /* opacity: 0; 
  transition: opacity 1s; */
}

.carousel__button--prev {
  left:0;
}

.carousel__button--next {
  right:0;
}


.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
} */
.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container .image-container {
  margin: 5px;
  padding: 5px;
}
.carousel-container .image-container img {
  width: 500px;
  height: 300px;
  margin: 5px;
  padding: 5px;
}
.carousel-container .image-container div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.carousel-container .image-container div ul li {
  display: inline;
  margin: 3px;
  color: grey;
  cursor: pointer;
}
.carousel-container .left-arrow,
.carousel-container .right-arrow {
  cursor: pointer;
}
.carousel-container .left-arrow h1,
.carousel-container .right-arrow h1 {
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  .carousel-container .image-container img {
    width: 200px;
    height: 150px;
  }
}
/* @media only screen and (max-width: 600px){

  body, section, footer 
  {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  /* /* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

  }
   .main_header{
    background: #BAB86C;
    width: 100%;
  }
  .nav_li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #778a66;
    border: 1px solid black;

  }
 .nav_li a{
 
   display: flex;
   color: whitesmoke;
   text-decoration: none;
 }

 .nav_li a:hover{
   background: #BAB86C;
   color: #C57B57;
} 
 
 
  .footer{
    background: #172815;
    width: 100%;
  }
 .card{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    background-color: #899d78;
  }
*/
  


