@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
li a { 
  color: whitesmoke;
}
.main_header{
  border-bottom: 1px solid black;
  background-color: #899d78;
}
/* Style the navigation menu */
.nav_li {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 1.5rem;
}

.nav_item a{
  color: whitesmoke;
}
.nav_li a{
display: none;
list-style-type: none;
text-decoration: none;

}
.hamburger {
display: none;
}

.bar {
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #101010;
}
.nav_menu {
  list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav_item {
margin-left: 5rem;

}

.nav-link a{
font-size: 1.6rem;
font-weight: 400;
color: white;
text-align: center;
border-bottom: 1px solid black;
}

.nav-link:hover{
color: #BAB86C;
}

.nav_logo {
font-size: 2.1rem;
font-weight: 500;
color: #899d78;
list-style-type: none;
}






#Mission_statement{
  background-image: url(images/seedlings.jpg);
  background-repeat:no-repeat;
  height: 200px;
  background-position:bottom;
  background-size: cover;
  padding: 15px;
  font-size: 13px;
 

}
#quick_tips{
  background-color: #899d78;
  color: black;
}
.w3-card-4{
  background-color: #899d78;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}
 /* #quick_tips{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #quick_tips > * {
    flex-grow: 1;
    flex-basis: 0;
  } */
.container{

    float: left;
    width: 25%;
    padding: 0 10px;
  }
   #quick_tips{
    margin: 0 -5px;
  }
   #quick_tips:after{
  content: "";
  display: table;
  clear: both;
  /* align-items: center; */
 }
 
.card{
  /* display: block;
  
  width: 25%; */
  /* display: flex;
    flex-direction:wrap;
  justify-content: space-between; */

  padding: 0 10px;
  box-shadow:  4px 8px rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
  margin:auto;
  /* border: 1px solid rgb(56, 48, 48)6, 48, 48); */
  }
 

 

 
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 16px 16px;
}

img{
  border-radius: 5px 5px 0 0;
}

#pollinators{
  margin-top: 10px;
  border: 1px solid black;
  background-color: #BAB86C;
}
#footer{
  border: 1px solid black;
  padding: 15px;
  height:auto;
  width: auto;
  background: #C57B57;
}



/* carousel */
.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}


.carousel-wrapper * {
  box-sizing: border-box;
}


.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}


.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}


.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}


.carousel__photo.prev {
  transform: translateX(-100%);
}


.carousel__photo.next {
  transform: translateX(100%);
}


.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border:1px solid black;
    /* opacity: 0; 
  transition: opacity 1s; */
}

.carousel__button--prev {
  left:0;
}

.carousel__button--next {
  right:0;
}


.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* @media only screen and (max-width: 600px){

  body, section, footer 
  {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  /* /* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

  }
   .main_header{
    background: #BAB86C;
    width: 100%;
  }
  .nav_li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #778a66;
    border: 1px solid black;

  }
 .nav_li a{
 
   display: flex;
   color: whitesmoke;
   text-decoration: none;
 }

 .nav_li a:hover{
   background: #BAB86C;
   color: #C57B57;
} 
 
 
  .footer{
    background: #172815;
    width: 100%;
  }
 .card{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    background-color: #899d78;
  }
*/
  


